<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>305630979362-t2kpgt98n6klvo4ai5h15u2inhtgt9e9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305630979362-t2kpgt98n6klvo4ai5h15u2inhtgt9e9</string>
	<key>API_KEY</key>
	<string>AIzaSyCJwQOlDt02hQaf1fo79yflXxD298TPcCE</string>
	<key>GCM_SENDER_ID</key>
	<string>305630979362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SAP.TestFirebase</string>
	<key>PROJECT_ID</key>
	<string>saptestfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>saptestfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:305630979362:ios:3dfe0c8e984aefcd</string>
	<key>DATABASE_URL</key>
	<string>https://saptestfirebase.firebaseio.com</string>
</dict>
</plist>